body{

  font-family: "Montserrat";
  font-size: 16px;
  
  background-color: var(--text-white-color);
  color: var(--text-color);
  
  letter-spacing: 0.02em;



}
  
  
  ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.container {
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.orange-text{
    color:#FD9222;
}
.footer-a-text{
  color: #FFFFFF;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 34px;
max-width:300px;


letter-spacing: -0.02em;


}

.a-contacts-footer{
  font-weight: 500;
font-size: 14px;
line-height: 18px;
margin-bottom: 14px;
    display: flex;


color: #FFFFFF;
}







  /* Footer */

  .footer-container{
    background-color:#1E1823;
}
.footer-container {
  
  padding: 50px 32px 50px 32px;
}
.footer-content{
  display:flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.orange-text{
    color:#FD9222;
}
.footer-a-text{
  color: #FFFFFF;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 34px;
max-width:300px;
padding-bottom:62px;

letter-spacing: -0.02em;


}

.a-contacts-footer{
  font-weight: 500;
font-size: 14px;
line-height: 18px;
margin-bottom: 14px;
    display: flex;


color: #FFFFFF;
}

/* Address Footer */
.address-footer{
  font-style:normal;
 
}
.address-nav-footer {
  display: block;
  font-weight: 400;
  font-size:14px;
  color: #FFFFFF;
  
  line-height: 1.2;
  text-decoration: none;
  transition-duration: 250ms;
  transition-property: color;
  animation-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.item-address-footer {
  margin-right: 40px;
  font-weight: 500;
}
.a-contacts-footer{
  margin-bottom:14px;
}
.site-address-footer{
  display:flex;
  flex-direction: column;
  gap:4px;
    
}


/* Footer Contacts */
.footer-contacts{
   display:flex;
   margin-left:auto;
  
}
.footer-navigation{
 
  display: flex;
  align-items: center;

}
.address-footer{
  font-style:normal;
 
}.address-nav-footer {
  display: block;
  font-weight: 400;
  font-size:14px;
  color: #FFFFFF;
  
  line-height: 1.2;
  text-decoration: none;
  transition-duration: 250ms;
  transition-property: color;
  animation-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.item-address-footer {
  margin-right: 40px;
  font-weight: 500;
}
.a-contacts-footer{
  margin-bottom:14px;
}
.site-address-footer{
  display:flex;
  flex-direction: column;
  gap:4px;
    
}

.site-nav-footer {
  display: flex;
  align-items: center;
}
.item-nav-footer {
  margin-right: 40px;
}
.navigation-link-footer {
  display: block;
  color: #FFF;
  text-decoration: none;
  font-size:14px;
  padding-top: 24px;
  
  justify-content: center;
  position: relative;
  transition-duration: 250ms;
  transition-property: color;
  animation-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 .navigation-link-footer:hover,.navigation-link-footer:focus{
  color:#FD9222
}
/* Socials Footer */

.socials-icon-footer {

  width: 24px;
  height: 24px;
  fill: #FFFFFF;
}
.socials-item-footer {
  width: 24px;
  height: 24px;
}
.socials-list-footer{
  display:flex;
  gap:21px;
}



/* Mobile Footer */

@media (min-width:320px){
.footer-container{
   display:flex;
  justify-content: center ;
  flex-direction: column;
  
  max-width:375px;
  margin-left:auto;
  margin-right:auto;
  padding-right: 16px;
    padding-left: 16px;
}
.footer-a-text{
  display:flex;
  justify-content: center ;
  flex-direction: column;
  
}
.address-footer{
  display:flex;
  flex-direction: column;
}


}






@media (min-width:768px){



}